{% extends "base.html" %}


{% block body %}

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Zapisane notatki</h3>

        {% if notes|length == 0 %}
        <p class="lead">Nie masz jeszcze żadnych notatek.</p>
        {% endif %}

        {% for note in notes %}
        <div class="card my-2">
            <div class="card-body">
                <h4 class="card-title">{{ note["title"] }} </h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% if note["public"] %}
                    Notatka publiczna
                    {% elif note["readers"]|length > 0 %}
                    Udostępniono:
                    {% for reader in note["readers"] %}
                    {{ reader }}{{ ", " if not loop.last }} 
                    {% endfor %}

                    {% else %}
                    Notatka prywatna
                    {% endif %}
                    
                    <a href="{{ url_for('delete_note', note_id=note['id']) }}" class="card-link float-end">Usuń</a>
                </h6>
                <p class="card-text" style="white-space: pre-line">{{ note["content"] }}</p>

            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}