{% extends "forms/form_page.html" %}


{% block header %}
Logowanie
{% endblock %}

{% block button %}
Zaloguj się
{% endblock %}


{% block form %}
<div class="mb-3">
    <input type="text" class="form-control" name="username" id="username" placeholder="Nazwa użytkownika" autocomplete="off" required autofocus>
</div>

<div class="mb-4">
    <input type="password" class="form-control mb-1" name="password" id="password" placeholder="Hasło" required>
    <p class="text-end"><a href="{{ url_for('password_reset') }}">Przypomnij hasło</a></p>
</div>
{% endblock %}


{% block below %}
<p>Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj się</a></p>
{% endblock %}