{% extends "forms/form_page.html" %}


{% block header %}
Reset hasła
{% endblock %}

{% block button %}
Zmień hasło
{% endblock %}


{% block form %}
<div class="mb-3">
    <input type="email" class="form-control" name="email" id="email" placeholder="Adres email" autocomplete="off">
</div>

<div class="mb-3">
    <input type="password" id="password1" name="password1" class="form-control" placeholder="Nowe hasło">
</div>

<div class="mb-3">
    <input type="password" id="password2" name="password2" class="form-control" placeholder="Powtórz nowe hasło">
</div>
{% endblock %}