{% extends "forms/form_page.html" %}


{% block header %}
Zmiana hasła
{% endblock %}

{% block button %}
Zmień hasło
{% endblock %}


{% block form %}
<div class="mb-3">
    <input type="password" id="old-password" name="old-password" class="form-control" placeholder="Stare hasło" required>
</div>

<div class="mb-3">
    <input type="password" id="password1" name="password1" class="form-control" placeholder="Nowe hasło" required>
</div>
<div class="mb-3">
    <input type="password" id="password2" name="password2" class="form-control" placeholder="Powtórz nowe hasło" required>
</div>
{% endblock %}