{% extends "forms/form_page.html" %}


{% block header %}
Reset hasła
{% endblock %}

{% block button %}
Wyślij link do zmiany hasła
{% endblock %}


{% block form %}
<div class="mb-3">
    <input type="email" class="form-control" name="email" id="email" placeholder="Adres email" autocomplete="off">
</div>
{% endblock %}


{% block bottom %}
{% if token %}
<div class="row justify-content-center my-5">
    <div class="col-8">
        <h6>Użytkownik dostałby wiadomość email:</h6>
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Zmiana hasła do serwisu NoteAtKey</h4>
            <p class="mb-0">Od: password-reset@noteatkey.pl</p>
            <p class="mb-0">Do: {{ email }}</p>
            <hr>
            Otrzymaliśmy prośbę o zmianę hasła do swojego konta w NoteAtKey. <br>
            Poniższy link jest ważny przez 5 minut.
            <p><a href="{{ url_for('password_reset_token', token=token) }}" class="alert-link">Kliknij tutaj, aby zmienić hasło.</a></p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}